#
# This file is part of the Link Checker package.
#
# (c) ZHAW HSB <apps.hsb@zhaw.ch>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#

<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>